{%include 'header.html'%}
<div class="container">
    <form action="/authorization" class="form" method="post">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" placeholder="Логин" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Пароль" required>
        <br>
        <input type="submit" value="Авторизироваться">
    </form>
    <button>Зарегистрироваться</button>
</div>
{%include 'footer.html'%}